body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .list-group-item .bi-check-square {
    display: none
  }
  .list-group-item.matched {
    color: green;
  }
  .list-group-item.matched .bi-check-square {
    display: inline-block
  }
  .list-group-item.matched .bi-x-circle {
    display: none
  }